body{
    font-family: arial;

}
label{
    margin-bottom: 30px;
}
fieldset{
    width: 800px;
    border-color: #73a5d8;
    background-color: white;
    border: 2px solid #6794c2;
    padding:50px;
    margin:auto;
}
input[type=text], select{
    font-size: 16px;
    width: 270px;
    height: 10px;
	margin: 15px 0;
	border: 1px solid #6794c2;
    padding: 14px 18px; 
    margin-left: 80px ;
}
textarea {
    width: 500px;
    height: 100px;
	margin: 7px 0;
	border: 1px solid #6794c2;
    padding: 14px 18px; 
    margin-left: 97px ;
}
select {
    width: 270px;
    height: 45px;
	margin: 7px 0;
	border: 1px solid #6794c2;
    padding: 14px 18px; 
    margin-left: 130px ;
}
.pl{
    margin-left: 100px;
    vertical-align: middle;
    margin-left: 100px;
    width: 20px;
    height: 20px;
}

#id_text{
    margin-left: 150px;
}

#ava_text{
    margin-left: 120px;
}


#submit{
    font-size: 16px;
    margin-top: 40px;
    margin-left: 300px;  
    background-color: #73a5d8;
    border: 2px solid #6794c2;
    border-radius: 5px; 
    width: 200px;
    height:60px;
}

#ava_button{
    font-size: 16px;
    background-color: #1167b1;
    border: 2px solid #1167b1;
    width: 40px;
    height:40px;
}
.error{
    color: red;
}
.btnSubmit{
    font-size: 16px;
    margin-top: 40px; 
    float: left;
    margin-left:140px;
    background-color: #73a5d8;
    border: 2px solid #6794c2;
    border-radius: 5px; 
    width: 200px;
    height:60px;
}

.lables{
    height:40px;
    width: 100px;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height:40px;
    margin-left:100px;
}
p{
    font-size: 16px;
    width: 270px;
    height: 10px;
    margin: 15px 0;
    padding: 14px 18px; 
    margin-left: 300px ;
}
#img_avatar{
    width: 150px;
    height: 100px;
    margin-left:100px;
}  
