.frame {
    width: 800px;
    height: 590px;
    border: 2px solid #568fe3;
    margin: auto;
}

.label_box {
    width: 170px;
    height: 45px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.row {
    display: flex;
    height: 40px;
    margin-top: 20px;
}

.input_box {
    border: 1px solid #568fe3;
    width: 500px;
    height: 35px;
    margin-left: 40px;
    font-size: 150%;
    background-color: rgb(236, 236, 236);
}

select {
    width: 500px;
    /* height: 30px; */
    margin-left: 40px;
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #568fe3;
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
    margin-right: 2rem;
    /* padding: 1rem; */
    padding-right: 2rem;
    font-size: 150%;
}

.submit {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    width: 150px;
    height: 50px;
    background: rgb(112, 144, 214);
    border-radius: 5px;
    cursor: pointer;
    font-size: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    margin-left: 30px;
    height: 323px;
}

.label_box1 {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #91b9ee;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 8px;
}

a:link,
a:visited {
    background-color: white;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #568fe3;
}

a:hover,
a:active {
    background-color: #568fe3;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.scroll_table {
    height: 100%;
    overflow: scroll;
}

thead {
    position: sticky;
    top: 0;
    background: white;
}

.button_row {
    align-items: center;
    background: rgb(112, 144, 214);
    width: 50px;
    height: 30px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.left_button {
    margin-right: 40px;
}
