.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 70%;
    padding: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #2e78c2;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.errors {
    color: red;
}
.form-date {
    display: flex;
}
.form-control-date {
    margin-right:3%;
    width: 33%;

}
.form-control-date input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #2e78c2;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.label-form {
    width: 120px;
    display:inline-block;
}
.form-date .label-form {
    display: flex;
}
.label-form label{
    margin: auto 0;
}
.form_muon {
    border: 1px solid black;
    border-radius: 10px;
    padding:20px;
    margin-top: 200px;
    margin-left:30%;
    width:40%;
}
.caption{
text-align: center;
font-size: 30px;
font-weight: 700;
}
.btn {
    margin: 20px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;

}
.btn-group {
    display: flex;
    justify-content:center;
}