body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
label{
    margin-bottom: 30px;
}
fieldset{
    width: 800px;
    border-color: #73a5d8;
    background-color: white;
    border: 2px solid #6794c2;
    padding:50px;
    margin:auto;
}
/* input[type=text], select{
    font-size: 16px;
    width: 270px;
    height: 10px;
	margin: 15px 0;
	border: 1px solid #6794c2;
    padding: 14px 18px; 
    margin-left: 100px ;
} */

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out ;


  }

  input[type=text] {
    width: 180px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    max-width: 300px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-left: 100px;
    -webkit-transition: width 0.4s ease-in-out ;
    transition: width 0.4s ease-in-out;
  }
  
input[type=textarea]:focus {
    background-color: #e9d8f4;
  }

input[type=text]:focus {
    width: 100%;
  }
  
input[type=text]:focus {
    background-color: #c8dcf0;
  }
  

textarea, select {
    width: 500px;
    height: 100px;
	margin: 15px;
	border: 1px solid #cbdff3;
    /* padding: 14px 18px;  */
    margin-left: 85px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pl{
    margin-left: 100px;
    vertical-align: middle;
    margin-left: 100px;
    width: 20px;
    height: 20px;
}

#id_text{
    margin-left: 150px;
}

#ava_text{
    margin-left: 120px;
}


#submit{
    font-size: 16px;
    margin-top: 40px;
    margin-left: 300px;  
    background-color: #73a5d8;
    border: 2px solid #6794c2;
    border-radius: 5px; 
    width: 150px;
    height:50px;
}

#ava_button{
    font-size: 16px;
    background-color: #1167b1;
    border: 2px solid #1167b1;
    width: 100px;
    height:38px;
}
.error{
    color: red;
}
.btnSubmit{
    font-size: 16px;
    margin-top: 40px; 
    float: left;
    margin-left:140px;
    background-color: #73a5d8;
    border: 2px solid #6794c2;
    border-radius: 5px; 
}

.lables{
    height:40px;
    width: 100px;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height:40px;
    margin-left:100px;
}
p{
    font-size: 16px;
    width: 270px;
    height: 10px;
    margin: 15px 0;
    padding: 14px 18px; 
    margin-left: 300px ;
}
#img_avatar{
    width: 300px;
    height: 300px;;
    margin-left:100px;
}