

.btnSubmit{
    font-size: 16px;
    margin-top: 40px; 
    float: left;
    margin-left:140px;
    background-color: #73a5d8;
    border: 2px solid #6794c2;
    border-radius: 5px; 
    width: 150px;
    height: 50px;
}

