body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Serif;
    font-size: 17px;
}
.form-device {
    width: 700px;
    border: 3px solid #000;
    font-family: 'Times New Roman', Serif;
}
.form-complete{
    width: 500px;
    height: 200px;
    border: 3px solid #000;
    text-align: center;
    font-family: 'Times New Roman', Serif;
}
.row {
   margin: 20px 40px 20px 20px;
}
.col {
    float: left;
}
.col-1 {
    width: 30%;
}
.col-2 {
    width: 70%;
}
.col-half {
    width: 50%;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.input-name {
    width: 50%;
}
.textarea-description {
    width: 100%;
}

.input-btn {
   margin-top: 8%;
   margin-bottom: 8%;
   padding: 15px 40px;
   border: none;
   background-color: #3366CC;;
   border-radius: 5px;
   font-family: 'Times New Roman', Serif;
}
/* upload */
#upload-container{
    text-align:center;
  }
  #upload-border{
    height:30px;
    border:1px solid #3366CC;
    display:inline-block;
    padding-left:7px;
    margin:20px 0;
  }
  
  #upload-name{
    height:70%;
    border:none;
  
  }
  
  #upload-button{
    height:100%;
    padding:0 20px;
    border:none;
    background:#2077C9;
    color:white;
    cursor:pointer;
  }
  
  #upload-name:focus, #upload-button:focus{
    outline:none;
  }

  .error{
    margin-bottom: 5px;
    margin-left:30px;
    margin-top: 10px;
    color:red;
}

textarea {
    padding: 0px !important; 
    margin: 0px !important;
    text-align: left;
    white-space: normal;
}
