input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }
        .Ten,
        .gioitinh,
        .namsinh,
        .khoa {
            margin-bottom: 20px;
            display: flex;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            line-height: 50px;
        }
        .Ten{
            margin-top: 20px;
        }
        .Ten label,
        .namsinh label,
        .gioitinh>label,
        .khoa label {
            font-family: Arial, Helvetica, sans-serif;
            padding: 5px 10px 5px 10px;
            min-width: 98px;
            text-align: center;
            justify-content: center;
            height: 30px;
            margin-left: 250px;
        }
        #input {
            padding: 5px 10px 5px 10px;
            flex: 0.5;
            border: 2px solid #69A4D9;
            outline: none;
            border-radius: 0;
            margin-left: 20px;
        }
        .khoa select {
            flex: 0.5;
            border: 2px solid #69A4D9;
            border-radius: 0;
            margin-left: 20px;
            
        }
        .khoa select option{
            width: 600px;
        }
        .submit {
            color: black;
            line-height: 30px;
            text-align: center;
            background-color: #9CC2E5;
            font-weight: 600;
            border: 2px solid #69A4D9;
            width:180px;
            margin-bottom: 30px;
            margin-left: 40%;
        }
        #input_submit{
            width: 80px;
        }

        #button_action{
            color: black;
            background: #69A4D9;
            width: 100%;
            height: 100%;
        }
        .count{
            font-size: 22px;
        }        
        .gioitinh{
            margin-top: -18px;
            text-align: center;
        }