.display-none {
    display: none !important;
}

#modal__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: appear linear 0.3s;
    cursor: pointer;
    z-index: 998;
}

#modal__transaction {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal__detail-transaction {
    background-color: #fff;
    max-width: 976px;
    padding: 10px;
    border-radius: 8px;
    animation: appear linear 0.3s;
    margin: 0px 8px;
}

.modal-transaction__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-transaction__header-text {
    font-weight: bold;
    font-size: 18px;
}

.modal-transaction__header-close {
    font-size: 20px;
    margin: 0px 4px 4px 10px;
    font-weight: bold;
}

.modal-transaction__header-close:hover {
    cursor: pointer;
}

.modal-transaction__divider {
    width: 100%;
    height: 1px;
    background-color: rgb(180, 180, 180);
    margin: 15px 0px;
}


/* .modal-transaction__form {} */

.modal-transaction__form-container {
    padding: 4px 30px;
    display: flex;
    flex-wrap: wrap;
}

.modal-transaction__form-box {
    width: 48%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
}

.modal-transaction__form-label {
    width: 150px;
    font-weight: 600;
}

.modal-transaction__form-input {
    flex: 1;
    width: 100%;
    height: 34px;
}

.modal-transaction__control {
    display: flex;
    justify-content: flex-end;
}

.modal__btn {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    width: 80px;
    height: 32px;
    border-radius: 4px;
    color: white;
}

.modal__btn:hover {
    cursor: pointer;
}

.modal__btn.--delete {
    background-color: #e60e18;
}

.modal__btn.--delete:hover {
    background-color: #CF202A;
}

.modal__btn.--close {
    background-color: #464646;
}

.modal__btn.--close:hover {
    background-color: #363636;
}