body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

form {
    border: 2px solid #366aa5;
    padding: 20px 50px;
    width: 500px;
    margin: 0 auto;
}

.errors {
    color:#FF0000;
    font-weight: 600;
    margin-bottom: 10px;
}

.request_info {
    margin-bottom: 40px;
}

label {
    margin-right: 40px;
    font-size: 15px;
}

input[type=text] {
    padding: 8px; 
    border: 1.5px solid #366aa5;
    border-radius: 0;  
    width: 150px;
    background-color: #d7dbdf;
}

input[type=submit] {
    display: block;
    background-color: #3a78b9d0;
    padding: 8px 20px;
    border: 1.5px solid #366aa5;
    border-radius: 7px;
    margin: 5px auto;
    color: #fff;
}

input[type=submit]:hover {
    opacity: 0.8;
    cursor: pointer;
}

 table {
    width: 100%;
    margin: 0 auto;
} 

td, th {
    padding-right: 50px;
}

th {
    font-weight: 400;
}

tr > td:first-child {
    text-align: right;
}

.input_readonly {
    pointer-events: none;
    border: none;
    text-align: center;
    width: 100px;
}


