.body {
	border: 2px solid black;
	margin: auto;
	width: 650px 
}

.complete {
	color: #AFDCEC;
	font-size: 120%;
	padding-left: 30%;
	font-family: arial;
}

.hyperlink {
	padding-left: 42%;
	font-family: arial;
	color:black;
	text-decoration: black underline;
}

.break {
	height: 4% 
}