.container {
    margin-left: 330px;
    margin-right: 330px;
    margin-top: 10px;
    border: 2px solid #056297;
}

.center {
    margin: auto;
    width: 50%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 40px;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.keyword_content {
    margin-top: 20px;
}

.subsp {
    width: 300px; 
    margin: 30px auto; 
    display: flex; 
    justify-content: center;
}    

.selbox {
    margin-top: 20px;
    height: 35px;
    width: 360px; 
    border: 3px solid #056297;
}

.selbox option{
    width: 360px; 
    border: 3px solid #056297;
}

.searchbox {
    margin-top: 20px;
    height: 28px;
    width: 350px; 
    border: 3px solid #056297;
    margin-left: 40px;
}

.searchbt {
    margin-top: 15px;
    height: 35px; 
    width: 150px; 
    background-color: #93ccec; 
    color: black;
    cursor: pointer;
}

th {
    text-align: left;
    padding: 10px;
    font-weight: 1500;
}

td {
    text-align: left;
    padding: 10px;
    font-weight: 500;
}

.total {
    margin: 30px auto; 
    margin-left: 110px;
}

.btn {
    height: 35px;
    width: 100px; 
    color: black; 
    background-color: #93ccec;
    cursor: pointer;
}
