.container {
    height: 200px;
    width: 650px; 
    margin: 0 auto; 
    border: 1px solid #013769; 
    display: flex;
    justify-content:center; 
    flex-direction: column; 
    align-items: center;
}

/* .noti {} */

.backtohome {
    text-decoration: underline; 
    font-style: italic; 
}