.container {
    height: 500px;
    width: 650px; 
    margin: 0 auto; 
    border: 1px solid #013769; 
    display: flex;
    justify-content:center; 
    flex-direction: column; 
    align-items: center;
}

.form-input-line {
    display: flex; 
    width: 550px; 
    margin: 10px auto;
}

.input-label {
    width: 150px;
}

.submit-button {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5b9bd5;
}

.form-info {
    width: 192px; 
    background-color: #d6d8d9; 
    padding: 5px 0px 5px 5px;
}

.button-line {
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
    width: 500px; 
}