.body {
	border: 2px solid #AFDCEC;
	margin: auto;
	width: 650px 
}
.select {
	font-family: Arial 
}
.select_img {
	font-family: Arial;
	float: left 
}

.textarea {
	height: 80px;
	font-family: Arial;
	border: 2px solid #AFDCEC;
	background-color: rgb(216, 216, 216);
	width: 55%
}
.avatar_file{
	content: 'Browse';
	font-family: Arial;
	color: white;
	background-color: #AFDCEC;
	border: 2px solid #AFDCEC;
	outline: none 
}
#img_avatar{
	width: 120px;
	height: 120px;
}
.avatar_file:hover {
	background-color: #AFDCEC;
   /* Green */
	color: white;
}
.break {
	height: 2% 
}
.break3 {
	height: 12% 
}
.break2 {
	width: 6% 
}

.left {
	height: 25px;
	width: 550px;
	display: flex;
	margin-left: auto;
	margin-right: auto 
}
.title {
	font-family: Arial;
	width: 26% 
}
.title_hidden {
	visibility: hidden;
	width: 32% 
}
.input {
	border: 2px solid #AFDCEC;
	width: 35%;
	background-color: rgb(216, 216, 216);
	font-family: Arial
}
.input2 {
	border: 2px solid #AFDCEC;
	width: 35% ;
	background-color: rgb(216, 216, 216);
	font-family: Arial
}

.signup {
	display: flex;
	color: white;
	text-align: center;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	font-size: 100%;
    border-radius: 15%;
	background-color: #AFDCEC;
    border: 2px solid #AFDCEC;
}
.signup2 {
	display: flex;
	color: white;
	text-align: center;
	width: 100px;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	font-size: 140%;
	border-radius: 10%;
	background-color: #AFDCEC;
	border: 2px solid #AFDCEC;
}
.signup:hover {
	background-color: #AFDCEC;
	color: white;
}
.signup2:hover {
	background-color: #AFDCEC;
	color: white;
}

.error {
	color: red;
	padding-left: 35%;
	font-family: arial;
}
