.container{
    height: 500px;
    width: 650px; 
    margin: 0 auto; 
    border: 1px solid #013769; 
    display: flex;
    justify-content:center; 
    flex-direction: column; 
    align-items: center;
}

.form-input-line{
    display: flex; 
    width: 550px; 
    margin: 10px auto;
}

.input-label{
    width: 150px;
}

.form-group.required.control-label:after{
	color: red;
	content: "*";
	position: absolute;
 }

/* .input-file{} */


.submit-button{
    width: 160px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5b9bd5;
}

.error {
    color: red;
    margin-left: 150px;
}

.form_item_button {
    background-color: #3e6595;
    color: black;
    border: 1px solid #43729d;
}

.form_item_file {
    display: flex;
    background-color: #d6d8d9;
    width: 100%;
    justify-content: space-between;
    border: 1px solid #013769; 
}

.form_item_filename {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input[type="file"] {
    display: none;
}

.form_item_upload {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

.form_item_upload:hover {
    background-color: #153654;
}

.form_item_upload:active {
    background-color: #11273b;
}